* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
}
.main-content {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  height: 100%;
}
.main-content-padding {
  padding: 60px 0px 0px 0px;
}
.body-content-wrapper {
  height: 100%;
  position: relative;
}
.body-content-wrapper-auto {
  height: auto;
  position: relative;
}
.body-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
.table {
  display: table;
  margin-bottom: 0px;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  /*vertical-align: middle;
  text-align: center;*/
}
.lhs-content {
  height: 100%;
}
.rhs-content {
  height: 100%;
}
.middle-content {
  height: 100%;
}
.full-size {
  height: 100%;
  width: 100%;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.gray {
  background-color: gray;
}
.pink {
  background-color: pink;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.cyan {
  background-color: cyan;
}
.cf0e68c {
  background-color: #f0e68c;
}
.cd672e2 {
  background-color: #d672e2;
}
.center {
  text-align: center;
}
.row {
  margin: 0px;
}
.margin-10px {
  margin: 10px;
}
.margin-lr-10px {
  margin: 0 10px;
}
.margin-tb-10px {
  margin: 10px 0;
}
.padding-10px {
  padding: 10px;
}
