.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}

.gray {
	background-color: gray;
}

.pink {
	background-color: pink;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.cf0e68c {
	background-color: #f0e68c;
}

.cd672e2 {
	background-color: #d672e2;
}

.center {
	text-align: center;
}

.row {
	margin: 0px;
}

.margin-10px {
	margin: 10px;
}

.margin-lr-10px {
	margin: 0 10px;
}

.margin-tb-10px {
	margin: 10px 0;
}
.padding-10px {
	padding: 10px;
}